<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="doctor" content="Eliza Doctor">
        <title>Eliza Doctor</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="./doctor.js"></script>
    </head>
    <body>
        <div id="header"><h1>Hello <%= name %>, <%= date %></h1></div>
        <form method="POST" action="/eliza/DOCTOR" id="userForm">
            <label for="userDialogue">Speak with me</label>
            <input type="text" name="userDialogue" id="userDialogue">
            <input type="submit" value="Submit"> <p></p>
            <div id="convo">
                <% dialogues.forEach(function(dialogue) { %>
                    <% if (dialogue.name === "Eliza") { %>
                        <div class="eliza"><%= dialogue.timestamp %>     <%= dialogue.name %>: <%= dialogue.text %></div>
                    <% } else { %>
                        <div class="user"><%= dialogue.timestamp %>     You: <%= dialogue.text %></div>
                    <% } %>
                <% }); %>
            </div>
        </form>
    </body>
</html>
