<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="./doctor.js"></script>
    </head>
    <body>
        <div id="top">
            <div id="logoutButton"> 
                <a href="/logout">Sign out</a>
            </div>

            <div id="dropdown">
                <button id="dropbtn">Previous Conversations</button>
                <div id="dropdown-content"></div>
            </div>
        </div>

        <div id="space"></div>

        <div id="header"><h2>Hello <%= name %>, <%= date %></h2></div>
        <!-- Only one block shows -->
        <form method="POST" action="/eliza/DOCTOR" id="userTextForm">
            <label for="userText">Speak with me</label>
            <input type="text" id="userText">
            <input type="submit" value="Submit"> <p></p>
        </form>
        <div id="oldconvMessage" hidden>
            You are viewing an old conversation. Please return <a href="/eliza">here</a> to continue your conversation. 
        </div>
             
        <div id="dialogue">
            <% dialogues.forEach(function (dialogue) { %>
                <% if (dialogue.name === "Eliza") { %>
                    <div class="eliza"><%= dialogue.timestamp %> - <%= dialogue.name %>: <%= dialogue.text %></div>
                <% } else { %>
                    <div class="user"><%= dialogue.timestamp %> - You: <%= dialogue.text %></div>
                <% } %>
            <% }); %>
        </div>
    </body>
</html>