<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="doctor" content="Eliza Doctor">
        <title>Eliza Doctor</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="./doctor.js"></script>
    </head>
    <body>
        
         <div id="top">
            <div id ="logoutButton"> 
                <a href="/logout">Sign out</a>
            </div>    

            <div class="dropdown">
                <button class="dropbtn">Previous Conversations</button>
                <div class="dropdown-content">
                    
                    <form method="POST" action="/getConv">
                    <% conversations.forEach(function(conversation) {%>
                        <input type="submit" name="session" id="session" value = "ID: <%=conversation.id %>  DATE: <%=conversation.start_date %>">      
                    <% }); %>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="space">
        </div>
        
        
        <div id="header"><h2>Hello <%= name %>, <%= date %></h2></div>
        <form method="POST" action="/eliza/DOCTOR" id="userForm">
            
            <% if (show) {%>
                <label for="userDialogue">Speak with me</label>
                <input type="text" name="userDialogue" id="userDialogue">
                <input type="submit" value="Submit"> <p></p>
            <%} else {%>
            You are viewing an old conversation of id #<%=id%> Please return <a href="/eliza">here</a> to continue your conversation. 
            <%}%>
             
            <div id="convo">
            <% dialogues.forEach(function(dialogue) { %>
                <% if (dialogue.name === "Eliza") { %>
                    <div class="eliza"><%= dialogue.timestamp %>     <%= dialogue.name %>: <%= dialogue.text %></div>
                <% } else { %>
                    <div class="user"><%= dialogue.timestamp %>     You: <%= dialogue.text %></div>
                <% } %>
            <% }); %>
            </div>
        </form>
    </body>
</html>